* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: rgb(224, 212, 212);
}
.header {
	width: 100vw;
	display: flex;
	position: absolute;
}

.nav {
	display: flex;
	width: 100%;
	height: 70px;
	background-color: grey;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}
.nav h2 {
	font-family: "Hanalei", cursive;
	letter-spacing: 10px;
	font-size: 30px;
}
.nav_list {
	display: flex;
	gap: -200px;
	justify-content: space-around;
	align-items: center;

	padding: 12px;
	width: 40rem;
}

.nav_list input {
	width: 100px;
	padding: 8px;
	border-radius: 8px;
	border: none;
	outline: none;
}
.login {
	font-size: 12px;
	background-color: rgb(106, 209, 106);
	color: black;
	cursor: pointer;

	font-weight: bold;
}

.register {
	font-size: 12px;
	font-weight: bold;
	background-color: rgb(83, 78, 78);
	color: white;
	cursor: pointer;
}

.form {
	position: absolute;
	display: flex;
	flex-direction: column;
	font-size: 25px;
	font-family: "Hanalei", cursive;
	letter-spacing: 5px;
	font-weight: bold;
	background-color: rgb(224, 212, 212);
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 20rem;
	top: 100%;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	margin: auto;
	z-index: 30000;
	transition: all 1s;
}
.create {
	height: 30px;
	border: none;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 18px;
	outline: none;
	padding: 1rem;
	font-size: 16px;
}

.form_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}
.registrar {
	height: 40px;
	border-radius: 18px;
	font-size: 20px;
	font-family: "Hanalei", cursive;
	font-weight: bold;
	letter-spacing: 10px;
	width: 180px;
	border: none;
	outline: none;
	margin-bottom: 30px;
	cursor: pointer;
	transition: all 1s;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}
.registrar:hover {
	background-color: rgb(79, 189, 106);
}
.form_box label {
	font-size: 14px;
	margin-bottom: 13px;
}

.box_close {
	text-align: right;
	padding: 10px;
	background-color: grey;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.close {
	position: relative;
	color: blue;
	cursor: pointer;
}
.overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 20;
}
.welcome {
	position: absolute;

	margin: 0 auto;
}
.main {
	position: absolute;
	justify-content: space-around;
	font-size: 20px;
	text-align: center;
	color: black;
	padding: 20px;
	width: 80%;
	left: 50%;
	transform: translate(-50%, 50%);

	top: 100%;
	font-family: "Hanalei", cursive;
	letter-spacing: 8px;
	margin: 0 auto;
	z-index: 1000;

	transition: all 1s;
	/*opacity: 0;*/
}

.main h2 {
	padding: 5px;
	margin-bottom: 30px;
}
.main h1 {
	margin-bottom: 30px;
	text-align: left;
}
.preguntas {
	position: absolute;
	width: 30rem;
	font-size: 20px;
	color: black;
	padding: 20px;
	left: 50%;
	transform: translate(-50%, 10%);
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	border-radius: 40px;
	z-index: 3000;
	transition: all 1s;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	background-color: white;
}
.contador {
	position: absolute;
	font-size: 30px;
	text-align: center;
	color: rgba(201, 17, 17, 0.925);
	padding: 8px;
	left: 50%;
	transform: translate(-50%, 10%);
	width: 10rem;

	margin: 0 auto;
	border-radius: 40px;
	z-index: 5000;
	transition: all 1s;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.btn_next {
	position: absolute;
	top: 230px;
	left: 310px;
}

.items {
	padding: 12px;
	list-style: lower-alpha;
	margin-top: 30px;
}
p {
	margin-top: 12px;
	margin-bottom: 12px;
}
.resp {
	border-radius: 5px;

	padding: 2px;
	cursor: pointer;
	transition: all 0.5s;
}

.box_resp:hover {
	border-radius: 10px;
}

.container {
	display: flex;
	justify-content: center;
	gap: 5%;
	font-family: "Roboto", sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.question {
	display: flex;
	width: 200px;
	height: 100px;
	align-items: center;
	justify-content: center;
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 35px;
	cursor: pointer;
	background-color: rgb(100, 100, 100);
	color: #f5dfdf;
	cursor: pointer;
	transition: all 0.8s;
}
.question:hover {
	background-color: rgb(2, 2, 2);
	color: white;
}
.hide {
	display: none;
}

.check {
	background-color: grey;
}
.green {
	background-color: rgb(73, 189, 73);
}
.red {
	background-color: rgba(219, 27, 27, 0.781);
}

.modal_results {
	position: absolute;
	width: 20rem;
	padding: 15px;
	z-index: 10000;
	background-color: rgba(32, 1, 1, 0.363);
	color: white;
	left: 50%;
	transform: translate(-50%, 40%);
	border-radius: 12px;
	margin: 0 auto;
}
.modal_resul_container {
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	font-family: "Roboto", sans-serif;
}

.modal_resul_container h3 {
	margin-bottom: 23px;
}
.btn_box_results {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40px;
}
.btn_results {
	width: 50px;
	border: none;
	border-radius: 8px;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	outline: none;
	cursor: pointer;
}
.btn_results {
	width: 100%;
	border: none;
	border-radius: 30px;
}

.result_date {
	margin-bottom: 16px;
}
.modal_results_user {
	text-align: center;
	margin-bottom: 10px;
}
.close_results {
	margin-bottom: 12px;
}
.close_results h5 {
	width: 30px;
	height: 30px;
	color: black;
	font-size: 25px;
	font-weight: bold;
	font-family: "Hanalei", cursive;
	letter-spacing: 9px;
	width: 100%;
	text-align: right;
}
/*---------------------------RESPONSIVE-----------------------------------------------*/

@media (max-width: 1000px) {
	.nav {
		flex-direction: column;
		width: 100%;
	}
	.nav_list {
		width: 100%;
		flex-direction: column;
		margin-top: 2rem;
	}
	.nav_list input {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
		height: 2.6rem;
	}
	.label {
		display: none;
	}
	.user {
		background-color: white;
		color: black;
	}
	.pass {
		background-color: white;
		color: black;
	}
	.main {
		width: 100%;

		left: 0;
		transform: translate(0, 0);

		top: 100%;

		margin: 0 auto;
	}
	.container {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	.question {
		width: 80%;
	}
	.preguntas {
		left: 1rem;
		transform: translate(0, 0);
		width: 93%;
		top: 4rem;
		margin: 0 auto;
		border-radius: 60px;
	}
	.contador {
		width: 40%;
	}
	.box_resp {
		margin-bottom: 1.5rem;
	}
	.resp {
		box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	}

	.form {
		top: 50%;
		left: 50%;
		transform: translate(-50%, 30%);

		margin: auto;
		z-index: 30000;
		transition: all 1s;
	}

	.modal_results {
		top: 50%;
		left: 50%;
		transform: translate(-50%, 30%);

		margin: auto;
		transition: all 1s;
	}
	.login {
		font-size: 16px;

		color: black;

		font-family: "Hanalei", cursive;
		letter-spacing: 8px;
		font-weight: bold;
	}

	.register {
		font-size: 17px;
		font-weight: bold;

		font-family: "Hanalei", cursive;
		letter-spacing: 8px;
	}
}
@media (max-width: 750px) {
}

@media (max-width: 600px) {
}
